ion-button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.centrado {
  text-align: right;
}

ion-card {
  --ion-card-background: #cddf9f;
}

ion-img {
  width: 300px !important;
  height: 220px !important;
  opacity: 0.9;
}
