.chart-container {
  position: relative;
  margin: auto;
  height: 400px !important;
  width: 400x !important;
  // min-height: 300 px;
}
ion-img{
height: 50px !important;
width: 100px !important;
}

ion-card{
  --background-color: linear-gradient(#0c8590,#ef9800) !important;
  }
  .card {
    background-color: #cddf9f;

}
ion-searchbar {
  --ion-background-color:#bee58f;
}

