ion-button {
  margin-top: 12px;
  margin-left: 8px;
  }

  .centrado{
    text-align: right;
  }

  ion-list.custom {
    background: transparent;
  }

  ion-card {
    --ion-card-background: #cddf9f;
  }

  ion-img {
    width: 150px !important;
    height: 170px !important;
    opacity: 0.9;
  }

  ion-select {
    padding-left: 0!important;
}
