<app-header2 titulo="Aforo" link="/session"></app-header2>

<ion-content fullscreen class="ion-padding">
<div class>

      <ion-row>
        <ion-col size="4">
          <ion-img src="assets/img/Belingologo.png"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-label><strong>Belingo Admisión</strong> </ion-label>
          <ion-label> Control de Aforo</ion-label>
        </ion-col>
      </ion-row>

</div>

<ion-row>
  <ion-col size="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size="12"></ion-col>
</ion-row>
<ion-row>
  <ion-col size="12"></ion-col>
</ion-row>

<div class="chart-container">

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Accesos</ion-card-title>
      <ion-card-subtitle>Aforo total: 200  </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

</div>

<div>
  <ion-label>Restantes: {{aforo}} </ion-label>
</div>

<!-- <ion-button (click)="onClick()" expand="block"  shape="round">
  Obtener Aforo
</ion-button> -->

</ion-content>
