<ion-tabs color=none>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="estadistica">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Aforo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadistica-mes">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estadística_Mes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadistica-dia">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Estadística_Horas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
