<ion-content class="ion-padding">

  <ion-grid fixed>

    <ion-row>
      <ion-col>
        <div class="container">
          <div class="play-full">
            <ion-img src="./assets/img/cliente.svg" width="1000px" height="100px"></ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
      <ion-row>
        <ion-col>

          <ion-list class="bg-none">

            <ion-item color="none" lines="none">
              <ion-input name="email" placeholder="Email" type="email"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              required
              [(ngModel)]="usuario.email"></ion-input>
              <ion-icon name="mail-outline" slot="start"></ion-icon>
            </ion-item>

          </ion-list>

          <ion-list class="bg-none">

            <ion-item color="none" lines="none">
              <ion-input name="password" type="password" placeholder="Password" required
              [(ngModel)]="usuario.password"></ion-input>
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            </ion-item>

          </ion-list>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>

          <ion-button [disabled]="formulario.invalid"
          type="submit" shape="round" expand="block" color="primary">
            <ion-icon slot="start"    name="arrow-forward-circle-outline"></ion-icon> LOGIN
          </ion-button>

        </ion-col>
      </ion-row>

    </form>
  </ion-grid>

</ion-content>
