<ion-content fullscreen class="ion-padding">
  <ion-grid fixed>

    <ion-row>
      <ion-col>
        <div class="container">
          <div class="play-full">
            <ion-img src="./assets/img/Belingologo.png"></ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-grid fixed>

    <ion-row>
      <ion-col size="6">
        <ion-button size="medium" class=""routerLink="/clients" color="primary">
         <ion-icon slot="start" name="people-outline"></ion-icon>
          Clientes
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button size="medium" routerLink="/session" color="primary">
          <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
          Sesión
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
