<ion-header #header class="ion-no-border">
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/session">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="uname">Accesos</ion-title>
    <img slot="end" src="/assets/img/Belingologo.png" width="25px" style="display:inline-block" height="25px" />
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar Acceso" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250">
  </ion-searchbar>
</ion-header>

<ion-content scrollEvents="true" [appHideHeader]="header" [fullscreen]="true" class="ion-padding">

  <ion-label>
    <strong><u>Accesos</u></strong>
    </ion-label>
  <ion-list class="bg-transparent">

    <ion-item  *ngFor="let a of Accesos |filtro: textoBuscar">
      <ion-label><b>{{a.fechaHoraEntrada | date: 'shortTime'}} {{a.horaEntrada | date: 'shortTime'}}</b>
        <p>Cliente: {{a.dni}}</p>
        <!-- <p>{{a.nombre}}</p> -->
        <p>{{a.sexo}}</p>
        <!-- <p>{{a.sessionKey}}</p> -->
        <p>Conflictivo: {{a.conflictivo}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
<!--
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando accesos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>
