<ion-header class="ion-no-border" [hidden]="scanActive">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/clients">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="uname">Visitas</ion-title>
    <img slot="end" src="/assets/img/Belingologo.png" width="25px" style="display:inline-block" height="25px" />
  </ion-toolbar>

</ion-header>

<ion-content fullscreen class="ion-padding" [style.--background]="scanActive ? '#00000000' : 'linear-gradient(#1c8590,#ff9800)'">


  <ion-card [hidden]="scanActive">
    <ion-img src="/assets/img/barcode.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Escanear DNI Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>


      <ion-label>Clique el botón para escanear el código de barras del DNI del Cliente</ion-label>




      <ion-button (click)="startScan()" expand="block" shape="round">
        <ion-icon slot="start" name="barcode-outline"></ion-icon>
        Start Scan
      </ion-button>

      <p class="ion-text-center" *ngIf="result && !scanActive">{{result}}</p>

    </ion-card-content>
  </ion-card>


  <ion-item>
    <ion-button class="ion-text-center" *ngIf="result && !scanActive"(click)="showModal(result)" >{{result}}</ion-button>
  </ion-item>


  <div class="scan-box" [hidden]="!scanActive"></div>


  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding" >
      <ion-button (click)="stopScan()"  shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Stop Scan
      </ion-button>
    </ion-col>
  </ion-row>




</ion-content>
