<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white" defaultHref="/clients">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="uname">Visitas</ion-title>
    <img slot="end" src="/assets/img/Belingologo.png" width="25px" style="display:inline-block" height="25px" />
  </ion-toolbar>

</ion-header>

<ion-content fullscreen class="ion-padding">
<ion-button (click)="startScan()" expand="block"  shape="round">
  <ion-icon slot="start" name="barcode-outline"></ion-icon>
  Start Scan
</ion-button>


</ion-content>
