<app-header2 titulo="Altas" link="/clients"></app-header2>

<ion-content fullscreen class="ion-padding">

  <form (ngSubmit)="onSubmit()" [formGroup]="clientForm">



    <ion-list class="custom">
      <ion-list-header color="none">
        <div class="container">
          <div class="">
            <ion-label><strong>FOTO CLIENTE</strong> </ion-label>

            <ion-item *ngFor="let photo of fireStorageService.photos; index as position">
              <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"  >
              </ion-img>
            </ion-item>


          </div>
        </div>
      </ion-list-header>
    </ion-list>

    <ion-button (click)="onClick()" shape="round">
      <ion-icon slot="start" name="camera-outline"></ion-icon>
      Cámara
    </ion-button>



    <ion-list class="custom">
      <ion-list-header color="none">
        <ion-label><strong>DATOS PERSONALES</strong></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">DNI/NIE</ion-label>
        <ion-input type="text" placeholder="Introduzca el número" formControlName="dni" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" placeholder="Introduzca el nombre" formControlName="nombre" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input type="text" placeholder="Introduzca apellido 1" formControlName="apellido1" required></ion-input>
        <ion-input type="text" placeholder="Introduzca apellido 2" formControlName="apellido2" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-select placeholder="Seleccione" formControlName="sexo" required>
          <ion-select-option value="mujer">Mujer</ion-select-option>
          <ion-select-option value="hombre">Hombre</ion-select-option>
          <ion-select-option value="nc">NC</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="text" placeholder="Introduzca el teléfono" formControlName="telefono" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" placeholder="Introduzca el email" formControlName="email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-datetime formControlName="fechaNaci" [value]="fechaNaci.toISOString()" display-format="DD/MM/YYYY"
          min="1920-01-01" max="2003-01-01" (ionChange)="cambioFecha( $event )">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Conflictivo</ion-label>
        <ion-select placeholder="Seleccione" formControlName="conflictivo" >
          <ion-select-option value="si">Sí</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>

        </ion-select>
      </ion-item>

    </ion-list>
    <ion-row>
      <ion-col>

        <div class="centrado">
          <ion-button [disabled]="clientForm.invalid" type="submit" color="primary">
            Enviar
          </ion-button>
          <ion-button type="reset" color="danger">
            Borrar
          </ion-button>
        </div>

      </ion-col>
    </ion-row>

  </form>

</ion-content>
